*{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
}
body {
    width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(dashboard.jpg);
	background-size: cover;
	background-position: center;
}

.navbar {
    width: 95%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background: transparent;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar h1 {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar h3 {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.tab {
    display: flex;
    justify-content: space-between;
}
.tab .tablinks{
    width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background-color: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}
.tabcontent {
	display: none;
}

#projectStatistics h1{
	font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
	color: #fff;
}

#projectStatistics table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#projectStatistics table, th, td {
    border: 1px solid black;
}

#projectStatistics th, td {
    padding: 15px;
    text-align: left;
}

#projectStatistics th,td {
    background-color: #f2f2f2;
}

#projectStatistics form {
    margin-top: 20px;
    width: 300px;
}

#projectStatistics label {
    display: block;
    margin-bottom: 10px;
}

#projectStatistics input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#projectStatistics input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#projectStatistics input[type="submit"]:hover {
    background-color: #45a049;
}

#addTask h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
	color: #fff; 
}

#addTask form {
    margin-top: 20px;
    width: 300px;
}

#addTask label {
    display: block;
    margin-bottom: 10px;
}

#addTask select, input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#addTask input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#addTask input[type="submit"]:hover {
    background-color: #45a049;
}

#notice h2 {
    text-align: center;
    margin-top: 20px;
}

#notice h3 {
    margin-top: 20px;
}

#notice ul {
    list-style-type: none;
    padding: 0;
}

#notice li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

#notice form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#notice label {
    display: block;
    margin-bottom: 10px;
}

#notice textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#notice input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#notice input[type="submit"]:hover {
    background-color: #45a049;
}