
body {
    font-family: Arial, sans-serif;
  
}

#p{
    border: 4px red ;
    background-color:rgb(42, 169, 127);

}
th{
    border: 3px yellow solid;
    padding: 20px;
    background-color: rgb(42, 165, 69);
}